@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Indie+Flower);/* Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
*/

body {
  padding: 0px;
}

.jumbotron {
  border-radius: 0px;
}

.sfc-dark-purple {
  color: #fff;
  background-color: #835AF1;
}

.sfc-purple-gradient {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#835AF1), to(#7FA6EE));
  background-image: linear-gradient(90deg, #835AF1, #7FA6EE);
}

