body {
    background: $background;
}

.video-wrapper {
    background: $video-bg;
    border-radius: 4px;
}

#development-area {
    background: $development-area;
    color: $white;
    padding: 30px;
    border-radius: 4px;
}
